dt {
    display: block;
}


dl {
    margin-bottom: 0;
}

dd {
    -webkit-margin-start: 40px;
    -moz-margin-start: 40px;
}

/* content */
#content-wrap {
	clear: both;
	background: #FFF url(../images/contentbg.jpg) repeat-y center top;
	float: left;
	width: 100%;
}
#content {
	text-align: left;
  margin: 30px auto;
  margin-left: 200px;
	padding: 0;
}

#content2 {
	text-align: left;
  margin: 30px auto;
	padding: 0;
}

/* main1 */
#main {
	margin: 0 20px 10px 0;
	padding: 0;
	width: 590px;
	float: left;
}
#main h1 {
	font: normal 1.75em Georgia, "Times New Roman", Times, serif;
	color: #111;
	padding: 0 0 5px 0;
	margin: 15px 15px 20px 15px;
	letter-spacing:-1px;
	background: url(../images/bk_dotted.gif) repeat-x left bottom;
}
#main h1 a {
	color: #111;
	text-decoration: none;
}
#main p, #main h1, #main h2, #main h3, #main blockquote, #main form, #main table {
	margin-left: 0;
}
#main form p {
	margin: 15px;
}

/* main2 */
#main2 {
  float: left;
}

#main2 h2 {
	font: normal 1.75em Georgia, "Times New Roman", Times, serif;
	color: #111;
	padding: 0 0 5px 0;
	margin: 15px 15px 20px 15px;
	letter-spacing:-1px;
	background: url(../images/bk_dotted.gif) repeat-x left bottom;
}
#main2 h2 a {
	color: #111;
	text-decoration: none;
}

#main2 h3 {
	font: normal 1.25em Georgia, "Times New Roman", Times, serif;
	color: #111;
	padding: 0 0 5px 0;
	letter-spacing:-1px;
	background: url(../images/bk_dotted.gif) repeat-x left bottom;
}
#main2 h3 a {
	color: #111;
	text-decoration: none;
}

#main2 h4 {
	font: normal 1.00em Georgia, "Times New Roman", Times, serif;
	color: #111;
	padding: 0 0 0 0;
	letter-spacing: 0;
	background: url(../images/bk_dotted.gif) repeat-x left bottom;
}
#main2 h4 a {
	color: #111;
	text-decoration: none;
}

#main2 p, #main2 h1, #main2 h2, #main2 h3, #main2 blockquote, #main2 form, #main2 table {
	margin-left: 0;
}
#main2 form p {
	margin: 15px;
}

#page-wrap { 
	background: #FFF url(../images/contentbg.jpg) repeat-y center top;
  width: 600px; 
  margin: 15px auto; 
  position: relative; 
}

#page-wrap2 { 
	background: #FFF url(../images/contentbg.jpg) repeat-y center top;
  width: 850px; 
  margin: 15px auto; 
  position: relative; 
}


#sidebar { 
  background-color:#efefef;
  width: 190px; 
  position: fixed; 
  margin-left: 10px; 
}

#duo1 {
  float: left;
  width: 50%;
}

#duo2 {
  float: right;
  width: 50%;
}

#duo21 {
  float: left;
  width: 20%;
}

#duo22 {
  float: right;
  width: 80%;
}

#container2{
  margin-right: 15px auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px
}

.container2 {
  display: flex;
}

.container2.space-around {
  justify-content: space-around;
}

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* image */
img.image-thumbnail {
    height: 100px;
}

p img {
  height: 1em;
  width: auto;
}


/* side by side divs*/
div.wrapper2 {
	display: flex;
}

div.left2 {
	flex: 0 0;
}

div.right2 {
	flex: 0 1;
}

* { padding: 0; margin: 0; }